body{
	background-image: url("/properties/usa_flag.jpeg");
	background-color: #517ee16d;
}
/* The navigation bar */
#menu {
	overflow: hidden;
	background-color: #2e56ab;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  #menu a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change background on mouse-over */
  #menu a:hover {
	background: #ddd;
	color: black;
  }
  /* #hr1{
	height: 5px;
	border:solid;
	color:#000;
	background-color:#000;
	left: 0;
	right:0;
  } */
  .aboutwords{
	padding-left: 100px;
	padding-right: 100px;
  }

  /* Main content */
.section {
	margin-top: 100px; /* Add a top margin to avoid content overlay */
	text-align: center;
  }

  
/* photos gallery */
  div.gallery {
	background-color: white;
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 300px;
	
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	
	padding: 15px;
	text-align: center;
  }

#web{
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#send_button{
	background-color: #111827;
	border: 1px solid transparent;
	border-radius: .75rem;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	flex: 0 0 auto;
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5rem;
	padding: .35rem 1.2rem;
	text-align: center;
	text-decoration: none #6B7280 solid;
	text-decoration-thickness: auto;
	transition-duration: .2s;
	transition-property: background-color,border-color,color,fill,stroke;
	transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
}

#send_button:hover {
background-color: #374151;
}

.headline {
	overflow: hidden;
	text-align: center;
	}
	
	.headline:before,
	.headline:after {

	background-color: #000;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
	}
	
	.headline:before {
	right: 0.5em;
	margin-left: -50%;
	}
	
	.headline:after {
	left: 0.5em;
	margin-right: -50%;
	}
	  
  